// Navigation Styles here
// .displayflex()
header{
  margin: 20px 0;
}
  nav{
    display:flex;
    border-bottom: 3px dashed @navigation-border;
    width: 50vw;
    margin-left:-100px;
    }
  .main-nav{
    display:flex;
    margin-left: 650px;

      p{
        margin-left:20px;
      }
  }//main-nav
