// Navigation Styles here
// .displayflex()
header{
  margin: 20px 0;
    @media @mobile{
      margin: 0px;
    }
}
  nav{
    display:flex;
    border-bottom: 3px dashed @navigation-border;
    width: 50vw;
    margin-left:-100px;
      // @media @desktop{
      //   width: 100vw;
      //   margin-left: -120px;
      // }
      @media @tablet{
        text-align:center;
        margin-left: 0px;
        width:100%;
          h1{
            margin-left: 10px;
          }
        }
      @media @mobile{
        text-align: center;
        flex-flow: column;
        margin-left: 0px;
        width: 100%;
      }
      // @media @desktop{
      //   h1{
      //     margin-left: 50px;
      //   }
      // }
  }
  .main-nav{
    display:flex;
    margin-left: 500px;
      @media @tablet{
        margin-left: 300px;
      }
       @media @ipad{
         margin-left: 268px;
       }
        @media @mobile{
        justify-content: space-between;
        text-align:center;
        margin-left: 0px;
      }

      p{
        margin-left: 20px;
          @media @mobile{
            margin-left: 0px;
          }
      }
  }//main-nav
